<div class="container">
  <div class="fav-spots">
    <h1 class="text-center">Vos spots préférés</h1>
    <div class="py-4 px-3">
      <% @favoritespots.each do |favoritespot| %>
        <%= link_to spot_path(favoritespot.spot_id) do %>
          <div class="card-product">
            <%# <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VyZnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" /> %>
            <div class="card-product-infos">
              <h2><%= favoritespot.spot.city_name %></h2>
              <%= link_to favorite_spot_path(favoritespot), method: :delete, data:{confirm: "Souhaitez-vous supprimer votre spot favori #{favoritespot.spot.city_name} ?"} do %>
                <p>Supprimer<i class="fas fa-trash-alt pl-1"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
