// Define variables for your color scheme

// For example:
$white: white;
$dark_blue:#023047;
$yellow: rgb(255, 183, 3);
$blue: rgb(33, 158, 188);
$light_blue: #8ecae6;
$orange: #fb8500;
$gray: #8B8576;
