
.form-container {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

// .container-blue {
//   // background: rgba(33, 158, 188, .1);
// }

.container-width {
  padding-right: 0;
  padding-left: 0;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHdhdmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
}

.delete-icon {
  font-size: 16px;
}

.fav-spots h1 {
  color: $dark_blue;
  padding: 10px;
}

.title-bin {
  display: flex;
  justify-content: space-between;
}
