// Specific CSS for your home-page


.m-10 {
  float: left;
  position: relative;
  left: -50%;
}


.form-group.boolean.optional {
  margin-bottom: 0.8rem !important;
}
.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
  h1 {
    color: $dark_blue;
    padding-bottom: 20px;
  }
  h2 {
    color: $white;
    padding-bottom: 25px;
  }
  h3 {
    color: $white;
  }
}

.presentation {
  width: 100%;
  padding-bottom: 270px;
}

.form-control-a {
   border-radius: 15px;
  border: transparent;
  background-color: white;
  form {
    display: flex;
  }
}

.search > form {
  display: flex;
  position: relative;
  opacity: 0.8;
  .btn {
    position: absolute;
    right: 27px;
    top: 2px;
    vertical-align: top;
    color: #8B8576;
  }
}

.home {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
