.btn-criteria {
  width: 100%;
  background: $yellow;
  padding: 5px;
  border-radius: 24px;
  margin-top: 10px;
}

.button-criteria {
  text-align: center;
  text-align: center;
  margin: auto;
  padding: 7px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
}
