
.card-beach {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 2px 1px 0.5px #dfe6ec;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 16px;
  .fa-check-circle {
    font-size: 25px;
    color: $yellow;
  }
  .circle-empty {
    color: $blue;
  }
}

.title-heart {
  display: flex;
  justify-content: space-between;
}

.card-beach h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $dark_blue;
  margin-bottom: 12px;
}

.card-beach h6 {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-beach-infos p {
  font-size: 18px;
  color: $dark_blue;
}

.validate-conditions {
  display: flex;
  justify-content: space-between;

  p {
    color: $blue;
    font-size: 18px;
    margin-bottom: 0;
  }
  i {
    color: $blue;
  }
}
