.big-card{
    display: flex;
    margin: 10px auto;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    i{
        font-size: 40px;
        margin-right: 5px;
    }
}