.big-card{
    display: flex;
    margin: 10px auto;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    i{
        font-size: 40px;
        margin-right: 5px;
    }
}
