.navbar-up {
  margin-bottom: 10px;
  background: transparent;
}

.logo-navbar {
  height: 70px;
}

.navbar-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.sign-in {
  background-color: #e9ecef;
  border-radius: 15px;
  color: grey;
  padding: 8px;
}

.nav-list {
  margin-right: 10px;
  padding-right: 5px;
}
