.navbar-down {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  border-top: 1px solid lightgray;
}

.navbar-down .search {
  display: none;
  input {
    background: white;
  }
}

.list-inline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.fas-navbar {
  font-size: 30px;
  color: #ACB5BD;
  opacity: 0.9;

  &:hover {
    color: $yellow;
    opacity: 0.8;
  }
}

.enabled {
 color: $yellow;
  opacity: 0.8;
}


.navbar-down .search {
  padding-top: 2.5%;
  width: 93%;
  padding-left: 7%;
}

.search-border {
  border: 1px solid #4B89AC;
  border-radius: 15px;
}

input::placeholder {
font-size: 18px;
}
// .navbar-down .list-inline .active #search-getter {
//   .search {
//     display: block;
//   }
//   .list-inline {
//     display: none;
//   }
// }
